{% extends "base.html" %}

{% load i18n humanize %}

{% block main %}
    <h2>{% trans "Customer" %}</h2>
    <div class="customer">
        <div class="name">{{ customer.name }}</div>
        <div>{{ customer.addr_addr1 }}</div>
        <div>{{ customer.addr_addr2 }}</div>
        <div>{{ customer.addr_addr3 }}</div>
        <div>{{ customer.addr_addr4 }}</div>
    </div>

    {% if job %}
        <h2>{% trans "Project" %}: {{ job.name }}</h2>
    {% endif %}

    <div class="notes">
        {{ invoice.notes }}
    </div>

    <h2>{% trans "Order lines" %}</h2>

    <table>
        <tr>
            <th>{% trans "Description" %}</th>
            <th>{% trans "Amount" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Unit price" %}</th>
            <th>{% trans "VAT" %}</th>
            <th>{% trans "Net" %}</th>
        </tr>
        {% for line in invoice.entries %}
            <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                <td>{{ line.description }}</td>
                <td>{{ line.quantity|floatformat:2|intcomma }}</td>
                <td>{{ line.action }}</td>
                <td>{{ line.unitprice|floatformat:2|intcomma }}</td>
                <td>{{ line.tax_percent }}%</td>
                <td>{{ line.net|floatformat:2|intcomma }}</td>
            </tr>
        {% endfor %}
        <tr class="sum">
            <td colspan="5">{% trans "Net" %}</td>
            <td>{{ invoice.net|floatformat:2|intcomma }}</td>
        </tr>
        <tr class="tax">
            <td colspan="5">{% trans "VAT" %}</td>
            <td>{{ invoice.tax|floatformat:2|intcomma }}</td>
        </tr>

        {% if invoice.payments.count %}
            <tr class="subtotal">
                <td colspan="5">{% trans "Subtotal" %}</td>
                <td>{{ invoice.gross|floatformat:2|intcomma }}</td>
            </tr>
            {% for payment in invoice.payments %}
                <tr class="payment">
                    <td colspan="5">{% trans "Paid" %} {{ payment.post_date|date:'d.m.Y' }}</td>
                    <td>{{ payment.amount|floatformat:2|intcomma }}</td>
                </tr>
            {% endfor %}
        {% endif %}

        <tr class="total">
            <td colspan="5">{% trans "Amount due" %}</td>
            <td>{{ invoice.due|floatformat:2|intcomma }}</td>
        </tr>
    </table>

    <div class="buttons">
        <a class="button" href="/faktura/pdf/{{ invoice.guid }}">{% trans "Download PDF" %}</a>
    </div>

{% endblock %}
